@charset "UTF-8";

body {
    background-image: url('https://st2.depositphotos.com/3591055/9403/i/450/depositphotos_94032794-stock-photo-kitten-on-white-background.jpg');
    background-size: 200px 200px;
    background-repeat: no-repeat;
}